.paragraph{
    font-weight: bold !important;
    font-size: 25px !important;
    color: rgb(255, 255, 255);
    font-family: "Futura PT Demi-Normal-5taag63X" !important;
    white-space: pre-wrap !important;
    line-height: 40px !important;
}

.down-arrow{
    color: rgb(255, 255, 255,0.5);
}


@keyframes bounce {
    0% { transform: translateY(0); }
    40% { transform: translateY(-10px); }
    60% { transform: translateY(-10px); }
}

.down-arrow {
    animation: bounce 2s infinite;
}

.learnmore{
    display: flex;
    flex-direction: row;
}

.text{
    color: white;
    text-decoration: none;
}

.text::after{
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; /* Adjust the line height as needed */
    background-color: white; /* Change the color as needed */
    transition: width 0.3s ease-in-out; /* Transition effect for width */
}

.text:hover::after {
    width: 20%;
}