@font-face {
    font-family: "Futura PT Demi-Normal-5taag63X";
    src: url('../../fonts/futuraptdemi.woff') format('woff');
}
.boldtext1{
    color: rgb(36, 180, 103);
    font-style: normal !important;
    font-size: 70px !important;
    font-family: "Futura PT Demi-Normal-5taag63X" !important;
    overflow: visible;
    white-space: pre-wrap !important;
    text-align: left !important;
    line-height: 72px !important;
}